<div class="row placeholders">
    <div class="col-xs-6 col-sm-4 placeholder">
        <img src="../../../../images/graph.png" class="img-responsive" width="200" height="200" alt="" />
        <h4>Device 1</h4>
        <section title=".slideOne">
            <!-- .slideOne -->
            <div class="slideOne">
                <input type="checkbox" value="None" id="slideOne" name="check" checked />
                <label for="slideOne"></label>
            </div>
            <!-- end .slideOne -->
        </section>


    </div>
    <div class="col-xs-6 col-sm-4 placeholder">
        <img src="../../../../images/graph.png" class="img-responsive" width="200" height="200" alt="" />
        <h4>Device 2</h4>
        <section title=".slideTwo">
            <!-- .slideTwo -->
            <div class="slideTwo">
                <input type="checkbox" value="None" id="slideTwo" name="check" checked />
                <label for="slideTwo"></label>
            </div>
            <!-- end .slideTwo -->
        </section>
    </div>
    <div class="col-xs-12 col-sm-4 placeholder">
        <img src="../../../../images/graph.png" class="img-responsive" width="200" height="200" alt="" />
        <h4>Device 3</h4>
        <section title=".slideThree">
            <!-- .slideThree -->
            <div class="slideThree">
                <input type="checkbox" value="None" id="slideThree" name="check" checked />
                <label for="slideThree"></label>
            </div>
            <!-- end .slideThree -->
        </section>
    </div>
</div>