<div class="row placeholders">
    <div class="col-md-4 col-sm-4 placeholder">
        <div class="device_img mt-3">
            <div class= "control_shadow"></div>
        </div>

        <section title=".slideOne">
            <!-- .slideOne -->
            <div class="slideOne">
                <input type="checkbox" value="None" id="slideOne" name="check" checked />
                <label for="slideOne"></label>
            </div>
            <!-- end .slideOne -->
        </section>


    </div>
    <div class="col-md-4 col-sm-4 placeholder">
        <div class="device_img mt-3">
            <div class= "control_shadow"></div>
        </div>
        <section title=".slideTwo">
            <!-- .slideTwo -->
            <div class="slideTwo">
                <input type="checkbox" value="None" id="slideTwo" name="check" checked />
                <label for="slideTwo"></label>
            </div>
            <!-- end .slideTwo -->
        </section>
    </div>
    <div class="col-md-4 col-sm-4 placeholder">
        <div class="device_img mt-3">
            <div class= "control_shadow"></div>
        </div>
        <section title=".slideThree">
            <!-- .slideThree -->
            <div class="slideThree">
                <input type="checkbox" value="None" id="slideThree" name="check" checked />
                <label for="slideThree"></label>
            </div>
            <!-- end .slideThree -->
        </section>
    </div>
</div>