/* You can add global styles to this file, and also import other style files */

@import "~@aws-amplify/ui/src/Theme.css";
@import "~@aws-amplify/ui/src/Angular.css";
body {
    background: #c0c0c00a;
}

.amplify-form-signup {
    display: none !important;
}

.amplify-container {
    margin-top: 31% !important;
}